<div class="card mt-2">
    <div class="card-header d-flex flex-row justify-content-between card-h">
        <div>
           {{ issue.status }}  ({% for type in issue.types.all %} {{ type.type_issue }} {% if not forloop.last %}, {% endif %} {% endfor %})
        </div>
        <div>
            <a class="icons" href="{% url 'issue-update' issue.id %}"><i class="far fa-edit"></i></a>
        </div>
    </div>
    <a class="text-dark" href="{% url 'issue-detail' issue.id %}">
        <div class="card-body card-b">
          <p class="card-text">{{ issue.summary }}</p>
        </div>
    </a>
</div>
