<div class="modal" id=modal tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header card-h">
          <h5 class="modal-title">Удаление задачи</h5>
        </div>
        <div class="modal-body cb">
          <p><i>Вы уверены,что хотите удалить:</i></p>
            <p>{{ issue.summary }}</p>
        </div>
        <div class="modal-footer card-h">
        <form action="{% url 'issue-delete' issue.id %}" method="post">
            {% csrf_token %}
            <div class="d-flex flex-row justify-content-end">
                <div><a class="btn btn-dark btn-sm mr-3" href="{% url 'issues-list' %}">Нет, отменить</a></div>
                <div><input type="submit" class="btn btn-danger btn-sm" value="Да, удалить!"></div>
            </div>
        </form>
        </div>
      </div>
    </div>
</div>
