<table class="table table-striped border">
  <thead>
    <tr class="border">
      <th scope="col">Пользователь</th>
      <th scope="col">e-mail</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
    </tr>
  </thead>
  <tbody class="border">
      {% for user in project.users.all %}
        <tr>
          <td >{{ user.username  }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
        </tr>
      {% empty %}
      <tr><td>Нет пользователей</td></tr>
      {% endfor %}
  </tbody>
</table>