{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if request.GET.next %}
        <div class="card mt-2 mx-auto border-danger" style="width: 60%">
            <div class="card-header">
                <p><i>Создание, редактирвание, удаление проектов, задач доступно только для авторизованных пользователей.</i></p>
            </div>
        </div>
    {% endif %}
<div class="card mt-2 mx-auto" style="width: 60%">
    <div class="card-header">
        <b><i>Авторизация</i></b>
    </div>
    <div class="card-body card-b">
        {% if has_error %}
            <p>Неправильный логин или пароль</p>
        {% endif %}
        <form action="{% url 'login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="POST">
            {% csrf_token %}
            <input aria-label="Имя" type="text" name="username">
            <input aria-label="Пароль" type="text" name="password">
            <input type="submit" value="Войти">
        </form>
    </div>
</div>
{% endblock %}