{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card mt-2 mx-auto" style="width: 70%">
    <div class="card-header text-center bg-secondary text-white">
        <b><i>Смена пароля</i></b>
    </div>
    <div class="card-body ml-2 ">
        <form action="" method="POST">
            {% include 'partial/form.html' %}
            <div class="text-right">
                <hr>
                <input class="btn btn-secondary" type="submit" value="Сохранить">
                <a class="btn btn-danger mr-2" href="{% url 'accounts:user-profile' user.id %}">Отменить</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
