.card-h {
    background-color: #757474;
    color: #fff;
}

.card-b {
    background-color: #eee;
}
.icons {
    text-decoration: none;
    color: #313131;
}
.icons:hover {
    color: #fff;
    text-decoration: none;
}
.icon-list {
    font-size: 20px;
}
.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}
.form-field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
    display: inline-block;
}