body {
    background: #c6c8d3;
}
.main-card {
    background: transparent;
}

.card-h {
    background-color: #757474;
    color: #fff;
}

.card-b {
    background-color: #eee;
}

.card-side {
    background: transparent;
}

.icons {
    text-decoration: none;
    font-size: 18px;
    color: #313131;
}
.icons:hover {
    color: #fff;
    text-decoration: none;
}
.link-text {
    text-decoration: none;
    color: #313131;
    font-size: 15px;
}
.link-text:hover {
    text-decoration: none;
    color: #fff;
}

.icon-list{
    font-size: 30px;
}
.i-btn {
    background-color: #757474;
}
.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}
.form-field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
    display: inline-block;
}
