.card-h {
    background-color: #757474;
    color: #fff;
}

.card-b {
    background-color: #eee;
}
.icons {
    text-decoration: none;
    color: #313131;
}
.icons:hover {
    color: #fff;
    text-decoration: none;
}
.icon-list {
    font-size: 20px;
}