{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card mt-2 mx-auto" style="width: 40%">
    <div class="card-header text-center bg-secondary text-white">
        <b><i>Авторизация</i></b>
    </div>
    <div class="card-body card-b">
        {% if has_error %}
            <p>Неправильный логин или пароль</p>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div><label>Имя:</label><input class="ml-5" aria-label="Имя" type="text" name="username"></div>
            <div class="mt-2"><label>Пароль:</label><input class="ml-4" aria-label="Пароль" type="password" name="password"></div>
            <div class="text-center mt-3"><input class="btn btn-secondary btn-sm " style="width: 40%" type="submit" value="Войти"></div>
        </form>
    </div>
</div>
{% endblock %}