{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card mt-2 mx-auto" style="width: 90% ">
    <div class="card-header text-center bg-secondary text-white">
        <b><i>Регистрация</i></b>
    </div>
    <div class="card-body">
        <form action="" method="POST">
            {% include 'partial/form.html' %}
            <div class="text-center">
                <hr>
                <input class="btn btn-secondary" type="submit" value="Зарегистрироваться">
            </div>
        </form>
    </div>
</div>
{% endblock %}