<div class="card border-0" style="width: 14rem;">
  <div class="card-body">
      <a href="{% url 'issues-filter-list' 'all' %}" class="btn btn-secondary" style="width: 100%"><i class="far fa-list-alt">  Все задачи</i></a>
      <a href="{% url 'new-issue' %}" class="btn btn-secondary mt-1" style="width: 100%"><i class="far fa-plus-square">  Добавить</i></a>
      <a href="{% url 'issues-filter-list' 'filter_1' %}" class="btn btn-light border-secondary mt-1" style="width: 100%">Задача 1</a>
      <a href="{% url 'issues-filter-list' 'filter_2' %}" class="btn btn-light border-secondary mt-1" style="width: 100%">Задача 2</a>
      <a href="{% url 'issues-filter-list' 'filter_3' %}" class="btn btn-light border-secondary mt-1" style="width: 100%">Задача 3</a>
      <a href="{% url 'issues-filter-list' 'filter_4' %}" class="btn btn-light border-secondary mt-1" style="width: 100%">Доп.задача 2</a>
  </div>
</div>