{% extends 'base.html' %}
{% load static %}

{% block links %}
      <a href="{% url 'issues-list' %}" class="btn btn-secondary mt-1" style="width: 100%"><i class="far fa-list-alt">  Все задачи</i></a>
      <a href="{% url 'new-issue' %}" class="btn btn-secondary mt-1" style="width: 100%"><i class="far fa-plus-square">  Добавить</i></a>
        {% include 'partial/search_form.html' %}
{% endblock %}

{% block content %}
    {% if not issues %}
        <h1 class="text-center mt-5">Нет задач</h1>
    {% else %}
    {% for issue in issues %}
    <div class="card mt-2">
        <div class="card-header d-flex flex-row justify-content-between card-h">
            <div>
               {{ issue.status }}  ({% for type in issue.types.all %} {{ type.type_issue }} {% if not forloop.last %}, {% endif %} {% endfor %})
            </div>
            <div>
                <a class="link-text mr-2" href="{% url 'issue-detail' issue.id %}">Подробнее >> </a>
                <a class="icons" href="{% url 'issue-update' issue.id %}"><i class="far fa-edit"></i></a>
            </div>
        </div>
        <div class="card-body card-b">
          <p class="card-text">{{ issue.summary }}</p>
        </div>
    </div>
    {% endfor %}
    {% include 'partial/paginate.html' %}
    {% endif %}
{% endblock %}