{% extends 'base.html' %}


{% block content %}
    <div class="card mt-2">
        <div class="card-header d-flex flex-row justify-content-between card-h">
            <div>
                <a class="icons mr-2" href="{% url 'new-issue' %}"><i class="far fa-plus-square"></i></a>
               {{ issue.status }}  ({{ issue.type_issue }})
            </div>
            <div>
                <a class="icons align-middle mr-2" href="{% url 'issues-list' %}"><i class="far fa-list-alt"></i></a>
                <a class="icons" href="{% url 'issue-update' issue.id %}"><i class="far fa-edit"></i></a>
            </div>
        </div>
        <div class="card-body card-b">
          <p class="card-text">{{ issue.summary }}</p>
          <hr>
          <p class="card-text">{{ issue.description }}</p>
        </div>
    </div>
{% endblock %}