{% extends 'base.html' %}
{% load static %}


{% block content %}
    {% for issue in issues %}
    <div class="card mt-2">
        <div class="card-header d-flex flex-row justify-content-between card-h">
            <div>
                <a class="icons mr-2" href="{% url 'new-issue' %}"><i class="far fa-plus-square"></i></a>
               {{ issue.status }}  ({% for type in issue.types.all %} {{ type.type_issue }} {% if not forloop.last %}, {% endif %} {% endfor %})
            </div>
            <div>
                <a class="link-text mr-2" href="{% url 'issue-detail' issue.id %}">Подробнее >> </a>
                <a class="icons" href="{% url 'issue-update' issue.id %}"><i class="far fa-edit"></i></a>
            </div>
        </div>
        <div class="card-body card-b">
          <p class="card-text">{{ issue.summary }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}