{% extends 'base.html' %}

{% block links %}
    {% if perms.tracker.add_issue %}
        <a href="{% url 'tracker:new-issue' %}" class="btn btn-secondary mt-1" style="width: 100%">
        <i class="far fa-plus-square">  Добавить задачу</i></a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card mt-2">
        <div class="card-header d-flex flex-row justify-content-between card-h">
            <div>
               {{ issue.status }}  ({% for type in issue.types.all %} {{ type.type_issue }} {% if not forloop.last %}, {% endif %} {% endfor %})
            </div>
            <div>
                {% if perms.tracker.change_issue %}
                    <a class="icons" href="{% url 'tracker:issue-update' issue.id %}"><i class="far fa-edit"></i></a>
                {% endif %}
                {% if perms.tracker.delete_issue %}
                    <button class="link border-0 icons i-btn" data-bs-toggle="modal" data-bs-target="#modal">
                        <i class="far fa-trash-alt"></i></button>
                {% endif %}
            </div>
        </div>
        <div class="card-body card-b">
          <p class="card-text">{{ issue.summary }}</p>
          <hr>
          <p class="card-text">{{ issue.description }}</p>
        </div>
    </div>
    {% include 'partial/modal.html' %}
{% endblock %}