{% extends 'base.html' %}
{% load static %}

{% block links %}
      {% if perms.tracker.add_issue %}<a href="{% url 'tracker:new-issue' %}" class="btn btn-secondary mt-1" style="width: 100%"><i class="far fa-plus-square">  Добавить задачу</i></a>{% endif %}
        {% include 'partial/search_form.html' %}
{% endblock %}

{% block content %}
    {% for issue in issues %}
        {% include 'partial/list_card.html' %}
        {% empty %}
        <h1 class="text-center mt-5">Нет задач</h1>
    {% endfor %}
    {% include 'partial/paginate.html' %}
{% endblock %}