{% extends 'card_base.html' %}

{% block links %}
    <a href="{% url 'projects-list' %}" class="btn btn-secondary mt-1" style="width: 100%">Проекты</a>
    <a href="{% url 'issues-list' %}" class="btn btn-secondary mt-1" style="width: 100%"><i class="far fa-list-alt">  Все задачи</i></a>
{% endblock %}

{% block form-header %}
    <h3 class="">Добавить проект</h3>
{% endblock %}

{% block form %}
    <form action="{% url 'project-create' %}" method="post">
        {% include 'partial/form.html' %}
        <div class="text-right">
          <input class="btn btn-secondary" type="submit" value="Добавить">
          <a class="btn btn-danger mr-2" href="{% url 'projects-list' %}">Отменить</a>
        </div>
    </form>
{% endblock %}