{% extends 'base.html' %}

{% block links %}
    <a href="{% url 'project-create' %}" class="btn btn-secondary mt-1" style="width: 100%"><i class="far fa-plus-square">  Добавить проект</i></a>
    <a href="{% url 'issues-list' %}" class="btn btn-secondary mt-1" style="width: 100%"><i class="fas fa-tasks">  Все задачи</i></a>
{% endblock %}

{% block content %}
    <table class="table table-striped border bg-light">
      <thead>
        <tr class="border-0">
          <th class="pl-4" scope="col">Проект</th>
          <th scope="col">Дата начала</th>
          <th scope="col">Дата окончания</th>
        </tr>
      </thead>
      <tbody class="border-0">
          {% for project in projects %}
                <tr>
                  <td class="pl-4">
                      <a class="text-dark" href="{% url 'project-detail' project.id %}">{{ project.project }}</a>
                  </td>
                  <td>{{ project.date_start }}</td>
                  <td>{% if project.date_finish %}{{ project.date_finish }}{% else %}...{% endif %}</td>
                </tr>
          {% empty %}
          <tr><td>Проектов нет</td></tr>
          {% endfor %}
      </tbody>
    </table>
{% endblock %}