
<div class="modal fade" id="Modal_add" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-white">
        <h5 class="modal-title" id="ModalLabel">Проект: <i><b>{{ project.project }}</b></i></h5>
      </div>
      <div class="modal-body">
    <div class="card mt-2">
        <div class="card-body card-b">
            <form action="{% url 'tracker:project-users-update' project.id %}" method="POST">
              {% include 'partial/form.html' %}
              <hr>
              <input type="submit" value="Сохранить">
            </form>
        </div>
    </div>
      </div>
    </div>
  </div>
</div>


